/* Import Font Styling */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Orbitron:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.app-title {
  text-align: center;
  font-weight: 600;
  color: #131313;
}
ul{
    padding: 0;
}

li {
    padding: 0.5em 1em;
    width: 80%;
    list-style-type: none;
    border: 0.85px solid #131313;
    background-color: lightgray;
    margin-bottom: 0.5em;
}

.section-container {
  min-height: 360px;
}

input[type="button"] {
  display: inline-block;
  text-transform: capitalize;
  margin: 0;
}

input[type="number"]{
  padding: 0.2em;
  font-size: 12px;
  width: 80%;
  margin: 0;
}
